<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="babylog.com.babylog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="view.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="view.ListAllHistoryActivity"
            android:label="@string/home_title_viewall"
            android:parentActivityName="view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.ListAllFormulaHistoryActivity"
            android:label="@string/home_title_viewall"
            android:parentActivityName="view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.LogDetailActivity"
            android:label="@string/home_title_log_detail"
            android:parentActivityName="view.ListAllHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.NewBreastFeedingActivity"
            android:label="@string/title_activity_new_breast_feeding"
            android:parentActivityName="view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.NewFormulaActivity"
            android:label="@string/title_activity_new_breast_feeding"
            android:parentActivityName="view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.HelpActivity"
            android:label="@string/title_menu_help"
            android:parentActivityName="view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="view.ListMenuActivity"
            android:label="@string/title_menu_list"
            android:parentActivityName="view.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>